.footer #footer {
  bottom: 0;
}

.Option-Img {
  max-width: 40rem;
}
.Options-given {
  display: grid;
  /* height: 100vh; */
  margin: auto;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "Heading Heading Heading Heading"
    "Option1 Option1 Option2 Option2"
    "Option1 Option1 Option2 Option2"
    "Option1 Option1 Option2 Option2";
  grid-gap: 20px;
}
.Options-Heading {
  grid-area: Heading;
  /* text-align: center; */
}

.option-1 {
  grid-area: Option1;
  justify-self: center;
  /* grid-column-start: 2; */
}
.option-2 {
  grid-area: Option2;
  justify-self: center;
  /* grid-column-start: 3; */
}
.blocked {
  background-color: grey;
  list-style: none;
  border-color: blue;
  border-radius: 20px;
  padding: 100px;
}
.empty {
  list-style: none;
  border-color: grey;
  border-radius: 10px;
  padding: 100px;
}

@media only screen and (max-width: 768px) {
  .Options-given {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "Heading"
      "Option1"
      "Option2"
      "Blank";
  }
}
